{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    
<h1>My Profile</h1>

{% if app.user %}
    <p>
        Pseudo : {{ app.user.pseudo }} <br>
        Email : {{ app.user.email }} <br>
        Register date : {{ app.user.createdAt | date('d-m-Y H:i') }}
    </p>
{% endif %}

{% endblock %}