{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<h1>Welcome {{ app.user ? app.user.pseudo }}</h1>
{% if app.user %}
    <p class="mt-30">
        Congratulations on being part of the team ! The whole company welcomes you, and we look forward to a successful journey with you ! Welcome aboard ! <br>
        We love to form a team, work with enthusiastic, creative people, and have a great learning attitude. And hear that you fit the bill perfectly. It's great to have you with us. Warmest welcome!
    </p>
{% endif %}

{% endblock %}
